<div class="container">
<pre>
  {{book}}|json
</pre>
  <div class="row">
    <div class="col-sm-12" >
      <h1 class="opaque1">Información: {{book.titulo}}</h1>
      <br>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 opaque1">
      <img src="../../assets/Libros/Libro{{book.id}}.jpg" style="height: 400px"  alt="">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6 opaque1">
        <h2>Títutlo:</h2><h3>{{book.titulo}}</h3>
          <h2>Autor:</h2><h3>{{book.idAutor.apellidos}} {{book.idAutor.nombres}}</h3>
          <h2>Categoría:</h2><h3>{{book.categoria}}</h3>
          <h2>Editorial:</h2><h3>{{book.editorial}}</h3>
          <h2>Precio:</h2><h3>${{book.precio}}</h3>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 opaque1">
          <h1>Descripción:</h1>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur delectus deserunt labore laudantium maiores non officiis omnis, perferendis rem repellendus reprehenderit similique soluta sunt ullam voluptas, voluptate voluptatibus! Totam!</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
          <a class="btn btn-primary" style="height:50px; width:200px;font-size:larger; " href="">Agregar al carrito</a>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>
