<h1>Registrar Autor</h1>

<div class="container">
  <div class="form-group">
    <label>Nombres del Autor</label>
    <input type="text"
           class="form-control"
           name="nombres"
           [(ngModel)]="nuevoAutor.nombres"
    >
  </div>
  <div class="form-group">
    <label>Apellidos del Autor</label>
    <input type="text"
           class="form-control"
           name="apellidos"
           [(ngModel)]="nuevoAutor.apellidos"
    >
  </div>
  <button class="btn btn-block btn-success" >Registrar Autor</button>

  <div class="row">
    <div class="col-sm-12" *ngFor="let autor of autores">
      <h1>{{autor.nombres}}</h1>
      <h1>{{autor.apellidos}}</h1>
      <p>ID:{{autor.id}}</p>
    </div>
  </div>
</div>
